.card-container{
    width: 260px;
    height: 220px;
    border: 4px solid #D9D9D9;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto;
}
.card-container:hover{
    background-color: #d4d4d4;
    border-color: #d4d4d4;
    transition: ease-in-out 0.15s;
    width: 250px;
    height: 210px;
}


.line{
    display: none;
    width: 260px;
    height: 2px;
    background-color: #D9D9D9;
}
.open-card-btn{
    height: 64px;
    width: 64px;
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
}

.open-card-btn::before,
.open-card-btn::after {
    position: absolute;
    left: 50%;
    top: 50%;
    content: "";
    display: block;
    width: 8px;
    height: 64px;
    background-color: #7A6C5D;
    border-radius: 10px;
   
}
.open-card-btn::before{
    transform: translate(-50%, -50%) rotate(90deg);
}
.open-card-btn::after {
    transform: translate(-50%, -50%);
}

